---
import Baselayout from "../../layouts/Baselayout.astro";
import stomachBefore from '../../assets/beforeAfter/StomachBefore.png';
import stomachAfter from '../../assets/beforeAfter/StomachAfter.png';
import stomachBefore1 from '../../assets/beforeAfter/StomachBefore1.png';
import stomachAfter1 from '../../assets/beforeAfter/StomachAfter1.png';
import sideBefore from '../../assets/beforeAfter/sideBefore.png';
import sideAfter from '../../assets/beforeAfter/sideAfter.png';
import frontAfter from '../../assets/beforeAfter/frontAfter.png';
import frontBefore from '../../assets/beforeAfter/frontBefore.png';
import stomachBefore2 from '../../assets/beforeAfter/stomachBefore2.png';
import stomachAfter2 from '../../assets/beforeAfter/stomachAfter2.png';
import backBefore from '../../assets/beforeAfter/backBefore.png';
import backAfter from '../../assets/beforeAfter/backAfter.png';
import stomachBefore3 from '../../assets/beforeAfter/stomachBefore3.png';
import stomachAfter3 from '../../assets/beforeAfter/stomachAfter3.png';
import backBefore1 from '../../assets/beforeAfter/backBefore1.png';
import backAfter1 from '../../assets/beforeAfter/backAfter1.png';
import stomachBefore4 from '../../assets/beforeAfter/stomachBefore4.png';
import stomachAfter4 from '../../assets/beforeAfter/stomachAfter4.png';
import frontAfter2 from '../../assets/beforeAfter/frontAfter2.png';
import frontBefore2 from '../../assets/beforeAfter/frontBefore2.png';
import sideBefore1 from '../../assets/beforeAfter/sideBefore1.png';
import sideAfter1 from '../../assets/beforeAfter/sideAfter1.png';
import sideBefore2 from '../../assets/beforeAfter/sideBefore2.png';
import sideAfter2 from '../../assets/beforeAfter/sideAfter2.png';
import stomachBefore5 from '../../assets/beforeAfter/stomachBefore5.png';
import stomachAfter5 from '../../assets/beforeAfter/stomachAfter5.png';
---

<Baselayout  title="Bootcamp |" descrip="Join the League City Body Sculpt Bootcamp and experience fat loss in three sessions. Our Body Wrap and Eurowave techniques will help you achieve your ideal body.">
    <h2 class="secondary-header">bootcamp</h2>
    <p>Diet &amp; exerciese not working fast enough for you? Let us help!</p>
    <p>You too can acheive similar eye-catching results in just 3 sessions a week.</p>
    <section class="before-after">
        <h3 class="center">Fat Melt + Eurowave/muscle</h3>

        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={stomachBefore.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={stomachAfter.src} alt="After Bootcamp" />
            </div>
            
        </div>

        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={stomachBefore1.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={stomachAfter1.src} alt="After Bootcamp" />
            </div>
            
        </div>

        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={sideBefore.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={sideAfter.src} alt="After Bootcamp" />
            </div>
            
        </div>

        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={frontBefore.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={frontAfter.src} alt="After Bootcamp" />
            </div>
            
        </div>

        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={stomachBefore2.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={stomachAfter2.src} alt="After Bootcamp" />
            </div>
            
        </div>

        <h3 class="center">2hr treatment, Elite Body Wrap Combo</h3>

        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={backBefore.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={backAfter.src} alt="After Bootcamp" />
            </div>
            
        </div>


        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={stomachBefore3.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={stomachAfter3.src} alt="After Bootcamp" />
            </div>
            
        </div>

        <h3 class="center">1hr treatment, Elite Body Wrap Combo</h3>

        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={backBefore1.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={backAfter1.src} alt="After Bootcamp" />
            </div>
            
        </div>


        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={stomachBefore4.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={stomachAfter4.src} alt="After Bootcamp" />
            </div>
            
        </div>

        <h3 class="center">1hr treatment, Elite Body Wrap</h3>

        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={frontBefore2.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={frontAfter2.src} alt="After Bootcamp" />
            </div>
            
        </div>

        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={sideBefore1.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={sideAfter1.src} alt="After Bootcamp" />
            </div>
            
        </div>


        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={sideBefore2.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={sideAfter2.src} alt="After Bootcamp" />
            </div>
            
        </div>

        <div class="ba-columns">

            <div class="before">
                <h4>Before</h4>
                 <img src={stomachBefore5.src} alt="Before Bootcamp" />
            </div>
           
            
            <div class="after">
                <h4>After</h4>
                <img src={stomachAfter5.src} alt="After Bootcamp" />
            </div>
            
        </div>
        
    </section>
    
</Baselayout>

<style>
   h3 {
        max-width: 100%;
        text-transform: capitalize;
    }
    h4 {
        text-align: center;
        font-weight: var(--font-weight-3);
    }

    .before-after {
        margin-bottom: var(--size-3);
    }

    .ba-columns {
        display: grid;
        gap: var(--size-3);
        justify-items: center;
        padding-bottom: var(--size-3);
    }

    @media (width > 50em) {
        .ba-columns {
          grid-auto-flow: column;
          grid-auto-columns: 1fr;
        }
    }
</style>